.customer-header{
    height: 50px;
    background-color: #f4f4f4;
    color: #777777;
    padding: 14px;
    border-bottom: 1px solid #f1f1f1;
}
.customer-header-title{
    font-size: 20px;
}

.customer-header-options{
    position: relative;
    float: right;
    text-align: right;
    display: inline-block;

}
.header-addCustomer {
    background: #00b3ee;
    padding: 10px;
}

.header-addCustomer a{
    color: #f1f1f1;
    text-decoration: none;
    font-size: 14px ;
    font-weight: bold;
}
.header-addCustomer i{
    padding-left: 10px;
    padding-right: 10px;
    color: #f1f1f1;
}

.options-sortBy i{
    padding-left: 10px;
    padding-right: 20px;
}

.customer-list{
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;
}
