body {
  padding-top: 50px;
  background-color: #f6f6f6;
}
.navbar {
    background-color: #ffffff ;
    border-bottom: 1px solid #e4e4e4;
}
.navbar-inverse .navbar-nav>li>a ,.navbar-inverse ,.navbar-inverse .navbar-text{
    color: #555;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #cccccc;
}
.navbar-inverse .navbar-brand{
    width: 250px;
    color: #555;
    text-align: center;
}
.navbar-inverse .navbar-brand:hover{
    color: #555;
}

.navbar-inverse .navbar-toggle {
    background-color: #2e333b;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    outline:0;
}
.navbar-inverse .navbar-collapse, .navbar-inverse{
    border-color: #e4e4e4;
}

.header{
    height: 50px;
    color: #555;
    border-bottom: 1px solid #e4e4e4;
}
.header a{
    text-decoration: none;
    list-style-type: none;
    color: #555;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;

    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper{
        background-color: #f6f6f6;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

