.customers-grid {
  width: 100%;
  height: 600px;
}
.customer-header {
  display: flex;
  padding: 8px;
  height: 50px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(128, 128, 128, 0.4);
}
.customer-header span {
  margin-left: 10px;
}
.add-customer {
  color: #f1f1f1;
  background-color: #FF4500;
}
.add-customer a:focus {
  background-color: #3c3c3c;
  color: #333333;
}
.customer-filter {
  max-width: 300px;
}
.customer-filter .form-control:focus {
  border-color: #FF4500;
  box-shadow: inset 0 1px 1px rgba(255, 69, 0, 0.75), 0 0 8px rgba(255, 69, 0, 0.75);
}
.table-responsive {
  margin-top: 10px;
  padding-top: 20px;
  border: 1px solid #cccccc;
}
.table i {
  margin-left: 10px;
}
.customer-header {
  display: flex;
  padding: 8px;
  height: 50px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(128, 128, 128, 0.4);
}
.customer-header span {
  margin-left: 10px;
}
.add-customer {
  color: #f1f1f1;
  background-color: #FF4500;
}
.add-customer a:focus {
  background-color: #3c3c3c;
  color: #333333;
}
.customer-filter {
  max-width: 300px;
}
.customer-filter .form-control:focus {
  border-color: #FF4500;
  box-shadow: inset 0 1px 1px rgba(255, 69, 0, 0.75), 0 0 8px rgba(255, 69, 0, 0.75);
}
.table-responsive {
  margin-top: 10px;
  padding-top: 20px;
  border: 1px solid #cccccc;
}
.table i {
  margin-left: 10px;
}
body {
  background-color: #f4f4f4;
  padding-top: 80px;
  padding-left: 120px;
  padding-right: 20px;
}
.navbar-default {
  padding: 0;
  z-index: 1002;
  background-color: #333333;
  border: none;
  border-radius: 0;
  margin: 0;
  color: #f8f8f8;
}
.navbar-logo {
  position: absolute;
  top: 10px;
  right: auto;
  left: 46%;
  margin-left: 0;
  margin-right: 0;
}
.header-date {
  margin-left: 200px;
}
.side-nav {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 45px;
  padding-top: 45px;
  width: 100px;
  height: 100%;
  background-color: #333333;
}
.side-nav ul {
  text-align: center;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
.side-nav li {
  padding: 10px;
  margin-top: 10px;
}
.side-nav i {
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
}
.side-nav a {
  color: #f8f8f8;
  text-decoration: none;
}
.link1:hover {
  background-color: dodgerblue;
}
.active1 {
  background-color: dodgerblue;
}
.link2:hover {
  background-color: orangered;
}
.active2 {
  background-color: orangered;
}
