.customer-header{
    display: flex;
    padding: 8px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(128,128,128,.4);
}
.customer-header span{
    margin-left: 10px;
}
.add-customer {
    color: #f1f1f1;
    background-color: #FF4500;
}
.add-customer a:focus{
    background-color: #3c3c3c;
    color: #333333;
}
.customer-filter{
    max-width: 300px;
}
.customer-filter .form-control:focus {
    border-color: #FF4500;
    box-shadow: inset 0 1px 1px rgba(255, 69, 0, 0.75), 0 0 8px rgba(255, 69, 0, 0.75);
}
.table-responsive{
    margin-top: 10px;
    padding-top: 20px;
    border: 1px solid #cccccc;
}

.table i {
    margin-left: 10px;
}
