.jobSheet-header {
    height: 50px;
    background-color: #f4f4f4;
    color: #777777;
    padding: 15px;
    border-bottom: 1px solid #f1f1f1;
}

.jobSheet-header-title {
    font-size: 20px;
}

.jobSheet-header-options {
    position: relative;
    float: right;
    text-align: right;
    display: inline-block;

}

.header-createJobSheet {
    background: #00b3ee;
    padding: 10px;
}

.header-createJobSheet a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.header-createJobSheet i {
    padding-left: 10px;
    padding-right: 10px;
    color: #f1f1f1;
}